<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>24 de abril</title>
    </head>
    <body>
        <section class="anchor">
        <h1>24 de Abril. Gradientes, Background, Animaciones.</h1>

            <a href="/resume">Ejercicio 1</a>
            <a href="/backgrounds-gradients">Ejercicio 2</a>
            <a href="/animations">Ejercicio 3</a>
        </section>
    </body>
</html>
<style>
    :root {
        font-family: "Roboto", serif;
        background-color: oklch(0.96 0.0328 107);
    }
    .anchor {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    h1 {
        color: oklch(61.47% 0.2 25.41);
        font-size: 50px;
    }
    a{
        color:oklch(0.42 0.15 22.88);
        font-size: 25px;
    }
</style>
